<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.dao.SysTableMapper">
  <resultMap id="BaseResultMap" type="com.zte.bean.SysTable">
    <id column="tableid" jdbcType="DECIMAL" property="tableid" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="tabledesc" jdbcType="VARCHAR" property="tabledesc" />
  </resultMap>
  <sql id="Base_Column_List">
    tableid, tablename, tabledesc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_table
    where tableid = #{tableid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_table
    where tableid = #{tableid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zte.bean.SysTable">
    insert into t_sys_table (tableid, tablename, tabledesc
      )
    values (#{tableid,jdbcType=DECIMAL}, #{tablename,jdbcType=VARCHAR}, #{tabledesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zte.bean.SysTable">
    insert into t_sys_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableid != null">
        tableid,
      </if>
      <if test="tablename != null">
        tablename,
      </if>
      <if test="tabledesc != null">
        tabledesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableid != null">
        #{tableid,jdbcType=DECIMAL},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tabledesc != null">
        #{tabledesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zte.bean.SysTable">
    update t_sys_table
    <set>
      <if test="tablename != null">
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="tabledesc != null">
        tabledesc = #{tabledesc,jdbcType=VARCHAR},
      </if>
    </set>
    where tableid = #{tableid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zte.bean.SysTable">
    update t_sys_table
    set tablename = #{tablename,jdbcType=VARCHAR},
      tabledesc = #{tabledesc,jdbcType=VARCHAR}
    where tableid = #{tableid,jdbcType=DECIMAL}
  </update>
</mapper>